{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% translate "Labels" %}{% endblock %}


{% block content %}
<ul>
    <a href="{% url 'labels:create' %}">{% translate "Create label" %}</a>
</ul>

</ul>
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">{% translate "ID" %}</th>
        <th scope="col">{% translate "Name" %}</th>
        <th scope="col">{% translate "Date" %}</th>
        <th scope="col">{% translate "Actions" %}</th>
    </tr>
    </thead>
    <tbody>
    {% for label in labels %}
    <tr>
        <th scope="row">{{label.id}}</th>
        <td>{{label.name}}</td>
        <td>{{label.date}}</td>
        <td>
            <a href="{% url 'labels:update' label.id %}">{% translate "Update" %}</a>
            <a href="{% url 'labels:delete' label.id %}">{% translate "Delete" %}</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
{% endblock %}