{% extends 'base.html' %}
{% load bootstrap4 %}
{% load i18n %}
{% block title %}{% translate "Statues" %}{% endblock %}


{% block content %}
<ul>
    <a href="{% url 'add_s' %}">{% translate "Create Status" %}</a>
</ul>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">{% translate "ID" %}</th>
      <th scope="col">{% translate "Name" %}</th>
      <th scope="col">{% translate "Created date" %}</th>
      <th scope="col">{% translate "Actions" %}</th>
    </tr>
  </thead>
  <tbody>
  {% for status in statuses %}
    <tr>
      <th scope="row">{{status.id}}</th>
      <td>{{status.status_name}}</td>
      <td>{{status.status_date}}</td>
      <td><a href="{% url 'status_update' status.id %}">{% translate "Update" %}</a>
        <a href="{% url 'status_delete' status.id %}">{% translate "Delete" %}</a></td>
    </tr>
    {% endfor %}
  </tbody>
{% endblock %}