<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="sadad">
    <title>{% block title %}{% endblock %}</title>

</head>
<body>
<div class="container-fluid">
<ul class="list-group">
    <li class="list-group-item">
    {% if user.is_authenticated %}
        Приветствую Вас, <a href="{% url 'user' %}">{{ user }}</a> <a href="{% url 'logout' %}">Выход</a>
    {% else %}
        Приветствую Вас, Гость! <a href="{% url 'login' %}">Войти</a> <a href="{% url 'register' %}">Регистрация</a>
    {% endif %}

    </li>
    <li class="list-group-item">
        <a href="{% url 'home' %}">Главная страница</a>
        <a href="{% url 'tasks' %}">Задачи</a>
        <a href="{% url 'labels' %}">Метки</a>
        <a href="{% url 'users' %}">Пользователи</a>
    </li>
</ul>
</div>
{% block content %}
{% endblock %}
</div>
</body>
</html>