{% extends 'base.html' %}

{% load i18n %}

{% block title %}{% translate "Home" %}{% endblock %}

{% block content %}
<div class="jumbotron">
  <h1 class="display-4">{% translate "Task Manager" %}</h1>
  <p class="lead">{% translate 'Four project in profession "Python-Developer"' %}.</p>
  <hr class="my-4">
  <p>{% translate 'Student: Dmitriy Knyazev' %}</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="https://github.com/Nidenai" role="button">Github</a>
  </p>
</div>
{% endblock %}