{% extends 'base.html' %}

{% block title %}Статусы{% endblock %}


{% block content %}
        <ul>
            <li>
                    {% if user.is_authenticated %}
                        <button><a href="{% url 'add_s' %}">Создать статус</a></button>
                    {% else %}

                    {% endif %}
            </li>
        </ul>
    {% for status in statuses %}
        <ul>
            <li>
                {{status.id}} {{status.status_name}} {{status.status_date}}
            </li>
        </ul>
    {% endfor %}
{% endblock %}