{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% translate "Users" %}{% endblock %}


{% block content %}
</ul>
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">{% translate "ID" %}</th>
        <th scope="col">{% translate "Username" %}</th>
        <th scope="col">{% translate "Name" %}</th>
        <th scope="col">{% translate "Actions" %}</th>
    </tr>
    </thead>
    <tbody>
    {% for user in users %}
    <tr>
        <th scope="row">{{user.id}}</th>
        <td>{{user.username}}</td>
        <td>{{user.first_name}} {{user.last_name}}</td>
        <td>
            <a href="{% url 'user_update' user.id %}">{% translate "Update" %}</a>
            <a href="{% url 'user_delete' user.id %}">{% translate "Delete" %}</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
{% endblock %}