{% extends 'base.html' %}

{% block title %}Пользователи{% endblock %}


{% block content %}
<ul>
                <table border="1" cellspacing="5" width="50%" summary="Список задач" align="left">
                    <tr>
                        <th>ID пользователя</th>
                        <th>Полное имя</th>
                        <th>                  </th>
                    </tr>
                    {% for user in users %}
                    <tr>
                        <td>
                           {{user.id}}
                        </td>
                        <td>
                           {{user.first_name}} {{user.last_name}}
                        </td>
                        <td>
                           <a href="{% url 'user_update' user.id %}">Изменить</a>
                            <a href="{% url 'user_delete' user.id %}">Удалить</a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>

        </ul>
{% endblock %}