{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% translate "Tasks" %}{% endblock %}
{% load bootstrap4 %}

{% block content %}
<ul>
    <a href="{% url 'tasks:create' %}">{% translate "Create Task" %}</a>
</ul>


<div class="container">


        <form method="get">
            {% bootstrap_form filter.form size='small' %}
            <button type="submit" class="btn btn-primary">{% translate "Filter" %}</button>
        </form>


</div>

<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">{% translate "ID" %}</th>
        <th scope="col">{% translate "Name" %}</th>
        <th scope="col">{% translate "Status" %}</th>
        <th scope="col">{% translate "Author" %}</th>
        <th scope="col">{% translate "Executor" %}</th>
        <th scope="col">{% translate "Date" %}</th>
        <th scope="col">{% translate "Actions" %}</th>
    </tr>
    </thead>
    <tbody>
    {% for task in filter.qs %}
    <tr>
        <th scope="row">{{task.id}}</th>
        <td><a href="{% url 'tasks:detail' task.id %}">{{task.title}}</a></td>
        <td>{{task.status}}</td>
        <td>{{task.created_user}}</td>
        <td>{{task.assigned_user}}</td>
        <td>{{task.task_date}}</td>
        <td><a href="{% url 'tasks:update' task.id %}">{% translate "Update" %}</a>
            <a href="{% url 'tasks:delete' task.id %}">{% translate "Delete" %}</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}